.content {
	width: 70%;
	margin:0 auto;
}

h1, h2, h3 {
    font-family: sans-serif;
    margin-top: 1.5em;
}

h1 {
    font-size: 32px;
}

table, th, td {
	border-collapse: collapse; 
	border: 1px solid black;
}

figure {
    font-style: italic;
	float: right;
	clear: both;
}